.letter-container {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.correct {
  background-color: #538d4e;
  border-color: #538d4e;
}
.almost-correct {
  background-color: #b59f3b;
  border-color: #b59f3b;
}
.incorrect {
  background-color: #3a3a3c;
  border-color: #3a3a3c;
}
