button {
  /* Safari needs to have this set, otherwise it will still be blue. */
  color: black;
  /* Prevent Iphone to zoom in when clicking the button multiple times. */
  touch-action: manipulation;

  font-size: 1rem;
  font-weight: bold;
  padding: 0.6rem 5px;
  margin: 0 2px;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.correct {
  background-color: #538d4e;
  border-color: #538d4e;
}
.almost-correct {
  background-color: #b59f3b;
  border-color: #b59f3b;
}
.incorrect {
  background-color: #3a3a3c;
  border-color: #3a3a3c;
}
