<div class="text-center">
  <div class="pb-1">
    <app-keyboard-key *ngFor="let c of 'qwertyuiop'.split('')"
                      (pressed)="pressedKey.emit($event)" [key]="c"
                      [letterState]="getLetterStateFor(c)"></app-keyboard-key>
  </div>
  <div class="pb-1">
    <app-keyboard-key *ngFor="let c of 'asdfghjkl'.split('')"
                      (pressed)="pressedKey.emit($event)" [key]="c"
                      [letterState]="getLetterStateFor(c)"></app-keyboard-key>
  </div>
  <div class="pb-1">
    <app-keyboard-key (pressed)="pressedKey.emit($event)" [key]="'Enter'"></app-keyboard-key>
    <app-keyboard-key *ngFor="let c of 'zxcvbnm'.split('')"
                      (pressed)="pressedKey.emit($event)" [key]="c"
                      [letterState]="getLetterStateFor(c)"></app-keyboard-key>
    <app-keyboard-key (pressed)="pressedKey.emit($event)" [key]="'Del'"></app-keyboard-key>
  </div>
</div>
