<div class="centered-container">
  <app-word *ngFor="let word of game.guessedWords" [word]="word" (click)="translate(word)"></app-word>

  <div *ngIf="game.isStillPlaying()" class="pt-3">
  <app-keyboard (pressedKey)="pressKey($event)" [game]="game"></app-keyboard>
  </div>

  <div *ngIf="!game.isStillPlaying()">
    <div *ngIf="game.wasAnswerGuessed()" class="pt-3">
      <h1>Goed gedaan!</h1>
    </div>
    <div *ngIf="!game.wasAnswerGuessed()">
      <hr>
      <app-word [word]="createGameLettersFromAnswer()" (click)="translate(createGameLettersFromAnswer())"></app-word>
    </div>
  </div>
</div>

<!-- All toasts are positioned at the top right corner of the screen. -->
<div class="position-fixed top-0 end-0 p-3 float-end d-flex flex-column align-items-end">
  <ngb-toast *ngFor="let message of toasts"
    [autohide]="true" [delay]=3000 class="bg-danger" style="width: fit-content">{{ message }}</ngb-toast>
</div>
