<div class="centered-container">
  <app-word *ngFor="let word of game.guessedWords" [word]="word" (click)="translate(word)"></app-word>

  <app-keyboard class="pt-3" (pressedKey)="pressKey($event)" [game]="game"></app-keyboard>
</div>

<!-- All toasts are positioned at the top right corner of the screen. -->
<div class="position-fixed top-0 end-0 p-3 float-end d-flex flex-column align-items-end">
  <ngb-toast *ngFor="let message of toasts"
    [autohide]="true" [delay]=3000 class="bg-danger" style="width: fit-content">{{ message }}</ngb-toast>
</div>
